.pblock .pblocktext {
    padding: 5px;
    margin: 4px;
}

.pblock:hover .pblocktext {
    padding: 4px;
    border: 1px solid #adadad;
    border-radius: 5px;
}

.pblock:hover .editblock {
    display: block;
}

.pblock p {
    margin:0;
}

.note-editor p {
    margin: 0;
}

.hidden {
    display: none;
}

#conway-grid {
    position: absolute; 
    left: 50%;
}
#conway-grid > div {
    position: relative; 
    left: -50%;
}

.conwaycell {
    width: 9px;
    height: 9px;
    margin:1px;
    border-radius: 50%;
    display: inline-block;
}

@keyframes conwaycellcolor {
    0% {
        background-color: rgb(255, 255, 255);
        transform: scale(0.1);
    }
    10% {
        background-color: rgb(0, 0, 0);
        transform: scale(0.8);
    }
    20% {
        background-color: rgb(133, 133, 133);
        transform: scale(0.7);
    }
    100% {
        background-color: rgb(226, 9, 197);
        transform: scale(0);
    }
}

.conwayalive {
    animation: conwaycellcolor 5s ease-in forwards;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }