.pblock .pblocktext {
    padding: 5px;
    margin: 4px;
}

.pblock:hover .pblocktext {
    padding: 4px;
    border: 1px solid #adadad;
    border-radius: 5px;
}

#campaign-name {
    padding: 2px;
}
#scene-name {
    padding: 2px;
}

#campaign-name:hover + .btn-editcampaignname {
    display: inline;
}

#scene-name:hover + .btn-editscenename {
    display: inline;
}

.pblock p {
    margin:0;
}

.note-editor p {
    margin: 0;
}

#new-block-editor {
    margin-bottom: 100px;
}

.hidden {
    display: none;
}

.circle-icon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
  
}

contenteditable {
    outline: 5px solid;
}

.pblock:hover .editblock {
    display: inline-block;
}

.pblock:hover .deleteblock {
    display: inline-block;
}

#conway-grid {
    position: absolute; 
    left: 50%;
}

#conway-grid-inside {
    position: relative; 
    left: -50%;
}

.conway-mini {
    position: static !important;
    left: 0% !important;
}


.conwaycell-normal {
    width: 9px;
    height: 9px;
    margin:1px;
    border-radius: 50%;
    /*display: inline-block;*/
}

.conwaycell-mini {
    width: 2px;
    height: 2px;
    margin: 0.5px;
    border-radius: 50%;
    display: inline-block;
}

@keyframes conwaycellcolor-normal {
    0% {
        background-color: rgb(255, 255, 255);
        transform: scale(0.1);
    }
    10% {
        background-color: rgb(0, 0, 0);
        transform: scale(0.8);
    }
    20% {
        background-color: rgb(133, 133, 133);
        transform: scale(0.7);
    }
    100% {
        background-color: rgb(226, 9, 197);
        transform: scale(0);
    }
}

@keyframes conwaycellcolor-mini {
    0% {
        background-color: rgb(255, 255, 255);
        transform: scale(0.1);
    }
    100% {
        
        transform: scale(1);
    }
}

.conwayalive-normal {
    animation: conwaycellcolor-normal 5s ease-in forwards;
}

.conwayalive-mini {
    animation: conwaycellcolor-mini 1s ease-in forwards;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}